<p>trainers works!</p>
{{sign}}

<div *ngIf="!isLearner()">
<table>
  <tr><td>Name</td><td>Lastname</td><td>email</td></tr>
  <tr *ngFor="let trainer of trainers">
    <td>{{trainer.firstName}}</td>
    <td>{{trainer.lastName}}</td>
    <td>{{trainer.email}}</td>
  </tr>
</table>
</div>


<div *ngIf="isLearner()">
  <table>
    <tr><td>Name</td><td>Lastname</td><td>email</td></tr>
    <tr *ngFor="let trainer of trainers">
      <td>{{trainer.firstName}}</td>
      <td>{{trainer.lastName}}</td>
      <td>{{trainer.email}}</td>
      <td><label>
      <input type='datetime-local' name='start date' [(ngModel)]="trainerRequest.start"/>
    </label></td>
      <td><label>
        <input type='datetime-local' name='end date' [(ngModel)]="trainerRequest.end">
      </label></td>
      <td><input type='submit' value='Add request' (click)="createTrainerRequest(getUser().id, trainer.id)"></td>
    </tr>
  </table>
</div>
