<p>profile works!</p>

<p>{{sign}}</p>
<div *ngIf="isValidUsername()">
  <p>{{getUser().username}}</p>
</div>

<div *ngIf="isValidUsername()" (click)="logout()">
  <p>Logout</p>
</div>

<div *ngIf="!isValidUsername()">
  <form role="form" (submit)="login()">
    <table>
      <tr>
        <td>username:</td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="creds.username"/>
          </div>
        </td>
      </tr>

      <tr>
        <td>password:</td>
        <td>
          <div class="form-group">
            <input type="password" class="form-control" name="password" [(ngModel)]="creds.password"/>
          </div>
        </td>
      </tr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </table>
  </form>

  <nav>
    <div>
      <table>
        <tr>
          <td><a routerLink="register">REGISTER</a></td>
        </tr>
      </table>
    </div>
  </nav>
</div>

