<p>profile works!</p>

<p>{{sign}}</p>

<div *ngIf="isLoggedIn()">

<!--  PROFILE INFO-->
  <table>
    <tr>
      <td>First Name</td>
      <td>{{getUser().firstName}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{getUser().lastName}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{getUser().email}}</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>{{getUser().authority}}</td>
    </tr>
  </table>

<!--  TRAINER BLOCK-->
  <div *ngIf="isTrainer()">
    TRAINER REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Trainer</td>
        <td>Start</td>
        <td>End</td>
        <td>Trainer approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let trainerRequest of getTrainerRequestsForTrainer()">
        <td>{{trainerRequest.id}}</td>
        <td>{{trainerRequest.requester.username}}</td>
        <td>{{trainerRequest.trainer.username}}</td>
        <td>{{getDate(trainerRequest.startTime).toString()}}</td>
        <td>{{getDate(trainerRequest.endTime).toString()}}</td>
        <td>{{trainerRequest.approvedTrainer}}</td>
        <td>{{trainerRequest.approvedSecurity}}</td>
        <td><button *ngIf="!trainerRequest.approvedTrainer"
                    (click)="sendTrainerRequestApprovalByTrainer(trainerRequest.id)">Approve by trainer</button></td>
        <td><button (click)="deleteTrainerRequest(trainerRequest.id)">delete</button></td>
      </tr>
    </table>

    ROOM REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Room</td>
        <td>Start</td>
        <td>End</td>
        <td>Admin approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let roomRequest of getRoomRequestsForTrainer()">
        <td>{{roomRequest.id}}</td>
        <td>{{roomRequest.requester.username}}</td>
        <td>{{roomRequest.room.id}}</td>
        <td>{{getDate(roomRequest.startTime).toString()}}</td>
        <td>{{getDate(roomRequest.endTime).toString()}}</td>
        <td>{{roomRequest.approvedAdmin}}</td>
        <td>{{roomRequest.approvedSecurity}}</td>
        <td><button (click)="deleteRoomRequest(roomRequest.id)">delete</button></td>
      </tr>
    </table>
  </div>

<!--  LEARNER BLOCK-->
  <div *ngIf="isLearner()">
    TRAINER REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Trainer</td>
        <td>Start</td>
        <td>End</td>
        <td>Trainer approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let trainerRequest of getTrainerRequestsForLearner()">
        <td>{{trainerRequest.id}}</td>
        <td>{{trainerRequest.requester.username}}</td>
        <td>{{trainerRequest.trainer.username}}</td>
        <td>{{getDate(trainerRequest.startTime).toString()}}</td>
        <td>{{getDate(trainerRequest.endTime).toString()}}</td>
        <td>{{trainerRequest.approvedTrainer}}</td>
        <td>{{trainerRequest.approvedSecurity}}</td>
      </tr>
    </table>
  </div>

<!--  ADMIN BLOCK-->
  <div *ngIf="isAdmin()">
    TRAINER REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Trainer</td>
        <td>Start</td>
        <td>End</td>
        <td>Trainer approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let trainerRequest of getAllTrainerRequests()">
        <td>{{trainerRequest.id}}</td>
        <td>{{trainerRequest.requester.username}}</td>
        <td>{{trainerRequest.trainer.username}}</td>
        <td>{{getDate(trainerRequest.startTime).toString()}}</td>
        <td>{{getDate(trainerRequest.endTime).toString()}}</td>
        <td>{{trainerRequest.approvedTrainer}}</td>
        <td>{{trainerRequest.approvedSecurity}}</td>
        <td><button (click)="deleteTrainerRequest(trainerRequest.id)">delete</button></td>
      </tr>
    </table>

    ROOM REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Room</td>
        <td>Start</td>
        <td>End</td>
        <td>Admin approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let roomRequest of getAllRoomRequests()">
        <td>{{roomRequest.id}}</td>
        <td>{{roomRequest.requester.username}}</td>
        <td>{{roomRequest.room.id}}</td>
        <td>{{getDate(roomRequest.startTime).toString()}}</td>
        <td>{{getDate(roomRequest.endTime).toString()}}</td>
        <td>{{roomRequest.approvedAdmin}}</td>
        <td>{{roomRequest.approvedSecurity}}</td>
        <td><button *ngIf="!roomRequest.approvedAdmin"
                    (click)="sendRoomRequestApprovalByAdmin(roomRequest.id)">Approve by Admin</button></td>
        <td><button (click)="deleteRoomRequest(roomRequest.id)">delete</button></td>
      </tr>
    </table>
  </div>

<!--  SECURITY BLOCK-->
  <div *ngIf="isSecurity()">
    TRAINER REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Trainer</td>
        <td>Start</td>
        <td>End</td>
        <td>Trainer approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let trainerRequest of getAllTrainerRequests()">
        <td>{{trainerRequest.id}}</td>
        <td>{{trainerRequest.requester.username}}</td>
        <td>{{trainerRequest.trainer.username}}</td>
        <td>{{getDate(trainerRequest.startTime).toString()}}</td>
        <td>{{getDate(trainerRequest.endTime).toString()}}</td>
        <td>{{trainerRequest.approvedTrainer}}</td>
        <td>{{trainerRequest.approvedSecurity}}</td>
        <td><button *ngIf="!trainerRequest.approvedSecurity"
                    (click)="sendTrainerRequestApprovalBySecurity(trainerRequest.id)">Approve by security</button></td>
        <td><button (click)="deleteTrainerRequest(trainerRequest.id)">delete</button></td>
      </tr>
    </table>

    ROOM REQUESTS
    <table>
      <tr>
        <td>Id</td>
        <td>Requester</td>
        <td>Room</td>
        <td>Start</td>
        <td>End</td>
        <td>Admin approved</td>
        <td>Security approved</td>
      </tr>
      <tr *ngFor="let roomRequest of getAllRoomRequests()">
        <td>{{roomRequest.id}}</td>
        <td>{{roomRequest.requester.username}}</td>
        <td>{{roomRequest.room.id}}</td>
        <td>{{getDate(roomRequest.startTime).toString()}}</td>
        <td>{{getDate(roomRequest.endTime).toString()}}</td>
        <td>{{roomRequest.approvedAdmin}}</td>
        <td>{{roomRequest.approvedSecurity}}</td>
        <td><button *ngIf="!roomRequest.approvedSecurity"
                    (click)="sendRoomRequestApprovalBySecurity(roomRequest.id)">Approve by security</button></td>
        <td><button (click)="deleteRoomRequest(roomRequest.id)">delete</button></td>
      </tr>
    </table>
  </div>

<!--  BUTTONS-->
  <div>
    <button (click)="logout()">
      LOGOUT
    </button>
  </div>
  <div>
    <button (click)="refresh()">
      REFRESH
    </button>
  </div>
</div>

<div *ngIf="!isLoggedIn()">
  <form role="form" (submit)="login()">
    <table>
      <tr>
        <td>username:</td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="creds.username"/>
          </div>
        </td>
      </tr>

      <tr>
        <td>password:</td>
        <td>
          <div class="form-group">
            <input type="password" class="form-control" name="password" [(ngModel)]="creds.password"/>
          </div>
        </td>
      </tr>
      <button type="submit" class="btn btn-primary">Submit</button>
    </table>
  </form>

  <nav>
    <div>
      <table>
        <tr>
          <td><a routerLink="register">REGISTER</a></td>
        </tr>
      </table>
    </div>
  </nav>
</div>

